.spin-container{
  position: relative;
  width: 19.5rem;
  height: 19.5rem;
}
.spin-txt{
  position: absolute;
  top: 2rem;
  width: 12rem;
  transform: rotate(-38deg);
}
#spin-wheel{
  position: absolute;
  top: 2rem;
  left: 2rem;
}


.positionCorner{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.positionMiddle{
  position: absolute;
  /* right: 300px; */
  bottom: 0px;
}